* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

body {
    display: flex;
    margin: 0 auto;
    position: relative;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust the width as necessary */
    height: 100vh; /* taking full height */

    padding: 20px;

    background-color: white;

    overflow-y: auto; /* Enable scrolling if navbar content is too tall */
}

#navbar .nav-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    display: block;
    padding: 8px;
    font-size: large;
}

nav ul:last-child {
    border-bottom: 1px solid;
}

.nav-link:hover {
    background-color: rgb(214, 230, 230);
}

/* Main Content Styles */
#main-doc {
    margin-left: 270px; /* Adjust based on navbar width + margin */
    padding: 20px;
}

.main-section {
    padding-left: 20px;
    margin-bottom: 20px;
}

.main-section li {
    margin-bottom: 15px;
}

p {
    padding: 12px;
}

code {
    background-color: rgb(236, 230, 230);
    display: block;
    padding: 20px;
    margin-bottom: 20px;
}

header {
    font-weight: bold;
    font-size: 30px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    /* applies only when viewport width is 600px or less  */
    #navbar {
        position: relative;
        width: 100%;
        height: auto;
    }

    #main-doc {
        margin-left: 0;
    }

    .nav-link {
        padding: 10px;
    }
}
